.Cabecera
{
    
    color:black;
   
    
}


#ImagenFacultad
{
  float: right;
}


#Tabla
{
   text-align: center;
}

h1
{
    text-align: center;
}
p
{
    text-align: center;
}
nav 
{
    
    background-color:rgb(11, 81, 83);
    overflow: hidden;
}
nav a
{
    color: white;
    float: right;
    text-align: center;
    outline: none;
    padding: 14px 16px;
    border: 2px 2px rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

#botonCambia
{
    background-color:rgb(11, 81, 83);
    text-decoration: none;
}
#botonCambia.imagen1:active
{
    display: none;
}